    <footer class="site-footer">
      <nav class="top-level container">
        <ul class="top-level__list">
          <li>
            <h4><a href="">Screenprinting &amp; <br>Embroidery</a></h4>
            <ul>
              <li><a href="">Upload your Design</a></li>
              <li><a href="">Design Online</a></li>
            </ul>
          </li>
          <li>
            <h4><a href="">Home Goods</a></h4>
            <ul>
              <li><a href="">Home Decor</a></li>
              <li><a href="">Kitchen</a></li>
              <li><a href="">Entertaining</a></li>
              <li><a href="">Florals</a></li>
              <li><a href="">Oraganization</a></li>
            </ul>
          </li>
          <li>
            <h4><a href="#">Gifts</a></h4>
            <ul>
              <li><a href="">For Her</a></li>
              <li><a href="">For Him</a></li>
              <li><a href="">For Kids</a></li>
              <li><a href="">Seasonal</a></li>
              <li><a href="">Under $20</a></li>
            </ul>
          </li>
          <li>
            <h4>Fashion &amp; Spiritgear</h4>
            <ul>
              <li><a href="">Women's Fashion</a></li>
              <li><a href="">Men's Wear</a></li>
              <li><a href="">Spiritgear</a></li>
            </ul>
          </li>
          <li class="nav-secondary__footer">
            <ul class="social-footer">
              <li>
                <a href="https://www.instagram.com/">
                  {% include insta.svg %}
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com//">
                  {% include facebook.svg %}
                </a>
              </li>
              <li>
                <a href="https://twitter.com/">
                  {% include yelp.svg %}
                </a>
              </li>
              <li>
                <a href="https://twitter.com/">
                  {% include pintrest.svg %}
                </a>
              </li>
            </ul>
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/locations">Locations &amp; Contact</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/cart">Cart</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <nav class="bottom-level container">
        <ul class="bottom-level__list">
          <li>
            <h1 class="logo">
              <a href="/">
                {% include xlr8-logo.svg %}
              </a>
            </h1>
          </li>
          <li>
            <h4>Burnet</h4>
            <p>1002 N Water St,  Burnet, TX 78611</p>
            <p>(512)756-0930</p>
            <p>&copy; 2018 XLR8</p>
          </li>
          <li>
            <h4>Marble Falls</h4>
            <p>1002 N Water St,  Burnet, TX 78611</p>
            <p>(512)756-0930</p>
          </li>
          <li class="news">
            <h4>News &amp; Special Offers</h4>
            <input type="email" name="" value="">
            <input class="button" type="submit" value="Sign up!" />
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
