.screenprinting {
  background-color: $teal;
  background-image: url("{{ site.baseurl }}/images/wood-background.png");
  padding-top: 20vh;
  padding-bottom: $large-spacing;
  position: relative;
}

.screenprinting__image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
