.button {
  background-color: $gold;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  font-family: $sub-heading-font-family;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  padding: $small-spacing;
  text-decoration: none;
  text-transform: uppercase;
}
