.button {
  font-family: $sub-heading-font-family;
  background-color: $gold;
  padding: $x-small-spacing $small-spacing;
  border-radius: $base-border-radius;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  line-height: 1;
}
