.inverse-content-block {
  background-color: $dark-teal;
  padding: $base-spacing;
  margin: $base-spacing;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 800px) {
    padding: $large-spacing;
    width: 50%;
  }

  h2 {
    color: white;
  }

  p {
    color: rgba(#fff, 0.7);
  }
}
